<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{device.name}}</ion-title>
    <!--<ion-buttons end>
      <button icon-only ion-button (click)="refresh()">
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content padding>
  
  <ion-item-group *ngFor="let item of dataset; let indexService = index">
    <ion-item-divider (click)="onExpandCollapseService(item)">
        <ion-icon item-right name="md-arrow-dropright" *ngIf="item.expand == false"></ion-icon>
        <ion-icon item-right name="md-arrow-dropdown" *ngIf="item.expand == true"></ion-icon>
        <font class="value"><b>{{item.name}}</b></font><br>
        <font class="title">UUID : </font><font class="value">0x{{item.service}}</font><br>
    </ion-item-divider>
    <ion-list no-detail *ngIf="item.expand == true">
        <ion-item 
            no-lines 
            *ngFor="let characteristic of item.characteristics; let indexCharacteristic = index" 
            class="paddingButton">
          <font class="value"><b>{{characteristic.name}}</b></font><br>
          <font class="title">UUID : </font><font class="value">0x{{characteristic.characteristic}}</font><br>
          <font class="title">Properties : </font><font class="value">{{characteristic.properties}}</font><br>
          <font class="title">Value : </font><font class="value">{{characteristic.value}}</font><br>
          <button ion-button clear color="black" 
                  item-right icon-only 
                  (click)="onReadCharacteristic(item.service, characteristic)">
                  <ion-icon name="md-eye"></ion-icon>
          </button>
          <button ion-button clear color="black" 
                item-right icon-only 
                (click)="onPromptWritingValue(item.service, characteristic)">
                <ion-icon name="md-create"></ion-icon>
        </button>
        </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>