page-home {
    .advertising{
        padding: 0px;
        margin: 0px;
    }
    .itemClass{
        min-height: 3rem; // Or less
        height: 10px; 
        padding: 0px;
        margin: 0px;
    }
}
